# Dependencies (NEVER push these, they are huge)
node_modules/
dist/
build/

# Environment secrets (Where you keep API keys/PII)
.env
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor settings
.vscode/
.idea/
.DS_Store